body, .bt{
    margin:0;
    padding: 0;
    
}
.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1D1E20;
}
.login{
    width: 300px;
    height: 400px;
    background-color: #DFE6F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
}
.login h1{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #1D1E20;
}
.bt{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bt input, button{
    width: 200px;
    padding: 10px;
    margin:10px;
    border-radius: 3px;
    border: none;
    outline: none; 
}
.bt button{
    background: #96B6F7;
    font-family: Arial, sans-serif;
    color: #1D1E20;
}
.login{
    animation-name: slide;
    animation-duration: 3s;
}
@keyframes slide{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}